<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Reset Password</title>
</head>
<body style="background-color: #ebeff5;">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card card-body">
        <p class="lead">We've mailed you the instructions for reseting your password. If an account exist with that email you should receive them shortly</p>
        <p>If you don't receive an email. Please make sure you entered the address you registered with or check your spam folder</p>
        <span class="text-center">Thank you</span>
      </div>
    </div>
  </div>

  <script>
    input = document.getElementsByTagName('input')
    input.placeholder = 'some@gmail.com'
  </script>
</body>
</html>