<div class="row">
  <div class="col-md-4">
    <div class="card text-white" id="total-orders">
      <div class="card-header">
        <h5>Total Orders</h5>
      </div>
      <div class="card-body">
        <h2>{{total_orders}}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white" id="orders-delivered">
      <div class="card-header">
        <h5>Orders Delivered</h5>
      </div>
      <div class="card-body">
        <h2>{{delivered}}</h2>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white" id="orders-pending">
      <div class="card-header">
        <h5>Orders Pending</h5>
      </div>
      <div class="card-body">
        <h2>{{pending}}</h2>
      </div>
    </div>
  </div>
</div>